Dalam lokakarya ini, kita akan menggunakan Jupyter Notebook secara penuh. Fungsi dari Jupyter Notebook adalah sebagai buku catatan dari semua eksperimen yang ingin kita tampilkan tetap tersimpan dan dapat tampil dengan "indah" meskipun setelah aplikasi Jupyter Notebook di-shutdown

Python adalah salah satu bahasa pemrograman yang sedang populer saat ini. Dibuat oleh Guido van Rossum dan dirilis pertama kali pada 1991. Python memiliki filosofi desain yang menitikberatkan pada keterbacaan kode dengan penerapan whitespace. Python memberikan kemudahan untuk pemrograman yang jelas dalam skala kecil dan besar.

## Variabel dan Tipe Data

Anggaplah suatu variabel sebagai penampung suatu nilai yang bisa kita ubah-ubah secara fleksibel dan bisa kita kombinasikan dengan operasi nilai lainnya. Dalam penerapannya, kita bisa memasukkan suatu nilai ke dalam variabel dengan operasi 'assignment' (=). Berikut kita akan membuat 3 buah variabel, yakni a, b, dan c yang masing-masing memiliki tipe data berbeda-beda.

In [6]:
a = 3
b = 0.003
c = 'three'

Variabel a memiliki nilai 3 (integer), b memiliki nilai 0.003 (float), dan c memiliki nilai 'three' (string). Kita akan menggunakan ketiga nilai ini ke depannya.

Dalam pemrograman Python, kita akan akrab dengan operasi aritmetika dan logika. Untuk langkah awal ini, kita akan mencoba operasi aritmetika sederhana.

## Operasi Aritmetika dan Logika

In [1]:
#Penjumlahan
3 + 3

6

In [5]:
#Perkalian
3*11

33

In [6]:
#Pembagian
3/5

0.6

In [7]:
#Modulo
9%4

1

In [8]:
#Pangkat
3 ** 5

243

Jupyter Notebook akan memberikan luaran/output dari baris operasi terakhir yang dieksekusi dalam tiap cell di jupyter notebook. Semisal dalam satu cell ada 2 operasi aritmetika bersamaan, yang akan dikeluarkan adalah yang paling terakhir. Contoh:

In [3]:
3 + 4 #menghasilkan 7
9 + 9 #menghasilkan 18
#7 - 1 #menghasilkan 6

18

Untuk menampilkan semuanya dalam satu kali eksekusi cell sekaligus, kita bisa menggunakan syntax "print"

In [45]:
print(3+4)
print(9+9)
print(7-1)

7
18
6

Kita bisa menerapkan operasi aritmetika dengan variabel-variabel yang kita miliki. Berikut adalah contoh-contoh penerapannya dan penggunaan syntax "print" pada variabel dan beberapa operasi lainnya terhadap variabel

In [47]:
d = 3 + 3
e = a * 10
f = a/d
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

3
0.003
three
6
30
0.5

Hati-hati menggunakan operator assignment. Jika digunakan lebih dari satu kali terhadap suatu variabel, akan membuat nilai di dalamnya berubah. Maka cukup gunakan seperlunya. Gunakan variabel yang sama jika memang terjadi perubahan di dunia nyata.

In [48]:
variabel = 10
variabel = 4 + 7
print(variabel)
#yang akan dicetak adalah nilai variabel terbaru, bukan 10
variabel = variabel ** 10 - 5 + 100999
variabel = "bukan angka"
print(variabel)

11
bukan angka

In [77]:
#Ria memiliki 10 botol air minum
botol = 10
print(botol)

#Yuli membelikan 2 botol air minum tambahan untuk Ria
botol = botol + 2
print(botol)

#Ria pulang ke rumah dan membagikan botol tersebut ke tiga adiknya
botol_adik = botol/3
print(botol_adik)

10
12
4.0

Operasi aritmetika dalam Python tentu mendukung operasi jamak dan berkurung. Urutan tanpa penggunaan tanda kurung akan dijelaskan nanti bersama operasi logika.
Sumber: https://www.tutorialspoint.com/python/python_basic_operators.htm

In [49]:
print((10 * 5)  ** 4)
print(10 * (5  ** 4))

6250000
6250

Penggunaan tanda kurung yang tidak sesuai akan menimbulkan galat

In [34]:
(10 * (5  ** 4) % 3

SyntaxError: unexpected EOF while parsing (<ipython-input-34-2262c8225c43>, line 1)

Apa yang bisa dilakukan dengan operator matematika untuk String/teks? Operasi penambahan pada string hanya dimaksudkan untuk mengkonkatenasi/menyambung suatu string ke string lainnya.

In [11]:
c + c

'threethree'

Penggunaan petik tunggal (' ') atau petik ganda (" ") pada Python tidak akan membuat perbedaan pada string

In [69]:
c + 'four' + ' ' + "hello" + c

'threefour hellothree'

In [18]:
print(a)
"four" + str(a)

3

'four3'

## Pencetakan

Kita dapat mencetak hasil dari operasi-operasi dalam python dengan cara yang berbeda-beda. Yang paling umum adalah dengan menggunakan perintah print. Di dalam perintah print sendiri kita bisa menggunakan beberapa variasi terhadap variabel yang akan dicetak.

In [19]:
#bentuk biasa
print(a+b)
#bentuk dengan keterangan string yang kita tambahkan
print("Saya akan mencetak nilai a: ", (a))

#mencetak dengan format tertentu
print("Saya akan mencetak 3 nilai, yakni a, b, dan c: %d, %f, dan %s" % 
    (a,b,c))
#%d menandakan nilai bilangan bulat/integer
#%f menandakan nilai float
#%s menandakan string

3.003
Saya akan mencetak nilai a:  3
Saya akan mencetak 3 nilai, yakni a, b, dan c: 3, 0.003000, dan three

In [61]:
#Bagaimana jika salah format untuk suatu tipe data?
#misal seharusnya float menjadi %d
#misal seharusnya integer menjadi %f
print("Saya akan mencetak 2 nilai, yakni a dan b: %f dan %d" % 
    (a,b))

Saya akan mencetak 2 nilai, yakni a dan b: 3.000000 dan 0

In [65]:
#kalau yang dicetak salah dari angka menjadi teks?
print("Saya akan mencetak 1 nilai, yakni a: %s" % (a))

Saya akan mencetak 1 nilai, yakni a: 3

In [22]:
type(c)

str

In [66]:
#kalau yang dicetak salah dari teks menjadi angka?
print("Saya akan mencetak 1 nilai, yakni c: %d" % (c))

TypeError: %d format: a number is required, not str

Tips: cek kembali tipe data dari masing-masing variabel, pastikan masing-masing variabel cocok untuk masing-masing operasi yang akan dieksekusi.

Sebenarnya masing banyak cara pencetakan dengan banyak variabel, tetapi kita akan fokus menggunakan cara ini saja: print("teks... %{notasi} ...text",(variabel1, variabel2, ...))

## Operator Logika

Operasi logika merupakan komponen utama dari pemrograman, terutama percabangan. Nilai dari operasi logika hanya ada dua (biner/boolean), yakni: True dan False. Python mengunakan ciri-ciri Case Sensitive untuk menentukan nilai biner ini. Berikut contoh pernyataan yang menghasilkan nilai True dan False dengan operator perbandingan.

In [70]:
print(3 == 3) #equal
print(4 == 1) #equal
print(4 != 1) #not equal
print(3 - 5 > 1) #greater than
print(0.00003 <= 0.000000001)

True
False
True
False
False

Operator yang menghasilkan nilai True dan False dapat dikombinasikan dengan Operator AND, OR, dan NOT.

In [72]:
a = 3
b = 30
c = 0.5

print(a ==3 and b<c)
print(a ==3 or b<c)
print(not(a==3))

False
True
False

Berikut truth table untuk masing-masing kombinasi operator logika:

AND

| A | B | A and B|
|---|---|---|
| True| True|True|
| True| False|False|
| False| True|False|
| False | False | False |

OR

| A | B | A and B|
|---|---|---|
| True| True|True|
| True| False|True|
| False| True|True|
| False | False | False |

NOT

| A | not(A)|
|---|---|
| False| True|
| True| False|

Operasi logika ini juga dapat menggunakan tanda kurung untuk mendahulukan operasi mana yang harus dikerjakan terlebih dahulu.

In [76]:
a = 5
b = 3
c = 10

print(a>10 and (b==3 or c<30))
print((a>10 and b==3) or c<30)

False
True

### Latihan: penggunaan variabel, operator matematika dan logika, dan pencetakan

Ari memiliki 10 kue, 13 buah, dan 7 buku. Budi mengambil 2 buah kue dari Ari. Berapakah kue Ari? Citra yang kaya raya membelikan Ari beberapa kue sehingga kue Ari sekarang menjadi 3 kali lipat jumlah kue sebelumnya. Berapakah kue Ari? Berapakah kue, buah, dan buku Ari?

Gunakanlah pemrograman python untuk merepresentasikan perubahan nilai variabel dan cetak nilai dari variabel yang ditanyakan ketika ada pertanyaan "berapa". Khusus untuk pertanyaan terakhir, gunakan format untuk pencetakan banyak variabel dan keterangan.

In [ ]:
kue = None
buah = None
None = 7

#kejadian Budi mengambil kue Ari

#Berapakah kue Ari?

#Kejadian Citra mengubah jumlah kue Ari

#Berapakah kue Ari?

#Berapakah kue, buah, dan buku Ari?

## Struktur Data Sederhana di Python

Setelah memahami konsep variabel, kita akan beranjak ke sesuatu untuk "merapikan" variabel. Semakin banyak proses yang akan kita kerjakan dalam program, akan semakin banyak variabel yang kita ingin olah. Kali ini, kita akan mengenal 3 macam struktur data dalam Python, yakni list, tuples, dan dictionaries.

Cerita: Ari memiliki keranjang berisi buah apel, pir, manggis, dan kelapa. Nantinya, buah-buahan ini akan dibagi-bagi, bagaimana cara mengolahnya dalam program?

### List

Struktur data yang paling sederhana adalah _list_. List adalah suatu barisan nilai. List dalam python bisa menampung beberapa variabel dengan tipe yang berbeda-beda. Namun, demi kemudahan pengerjaan, kita akan menggunakan list dengan satu macam tipe data saja. Sebagai contoh, kita akan membuat list dari bilangan bulat (integer).

In [101]:
my_list = [10, 1, 5, 2, 3]
print(my_list)

[10, 1, 5, 2, 3]

Dari code di atas, kita akan bisa dengan mudah menyimpan 5 nilai dalam 1 variabel struktur data list saja daripada menggunakan 5 variabel berbeda. Bagaimana cara mengakses elemen di dalam list?

Python memiliki cara khusus untuk mengakses elemen dalam struktur datanya. Di contoh di atas, kita memiliki suatu daftar yang berisi nilai-nilai yang berbeda. Kita bisa mengakses elemen tersebut dengan menggunakan index. Penggunaannya adalah sebagai berikut: $list[index]$. Indeks dari struktur data Python dimulai dari 0 hingga $n-1$. $n$ adalah jumlah elemen yang terkandung dalam struktur data Python.

Mari kita mencoba mengakses elemen ke-0 (nilai 10), elemen ke-2 (nilai 5), dan elemen ke-4 (nilai 3)

In [82]:
print(my_list[0])
print(my_list[2])
print(my_list[4])

10
5
3

Tentu saja kita tidak bisa mengakses elemen dengan indeks dari struktur data melebihi jumlah elemen yang ada di dalamnya.

In [84]:
print(my_list[5])
#5 merupakan jumlah elemen dari list yang
#kita miliki, sehingga indeks yang bisa diakses hanya 0 sampai 4

IndexError: list index out of range

Uniknya, Python dapat mengakses list dengan indeks negatif. Sebagaimana kita tahu, elemen yang bisa diakses memiliki indeks 0 hingga $n-1$. Indeks negatif menandakan elemen tersebut diakses dari akhir/ekor list. Mari kita coba akses elemen ke-(minus 1) atau ke-4, (minus 3) atau ke-2 atau minus 6 (apakah akan galat?)

In [85]:
print(my_list[-1])
print(my_list[-3])
print(my_list[-6])

3
5

IndexError: list index out of range

Seperti yang kita tahu, elemen ke-4 (-1) dari list yang kita miliki adalah 3, elemen ke-2 (-3) dari list yang kita miliki adalah 5, dan elemen yang bisa kita akses adalah dari 0 sampai 4, dengan kata lain -5 hingga -1. Jadi, jika kita menggunakan indeks -6 akan menghasilkan galat.

#### Mengakses banyak elemen dalam List

Jumlah elemen dalam my_list adalah 5, kita bisa mengakses beberapa elemen dalam list dengan cara mengindeksnya dengan suatu rentang tertentu agar menghasilkan keluaran list baru. Semisal kita mencoba mengeksekusi code di bawah ini.

In [90]:
my_list[1:4]

[1, 5, 2]

Kita akan mendapati elemen yang kita ambil adalah dari indeks ke-1 hingga SEBELUM indeks ke-4. my_list: [10, 1, 5, 2, 3], hasil: [1,5,2]. Secara formal, kita bisa menuliskan: $list[indeksawal : indeksakhir] $ akan menghasilkan list dengan potongan elemen dari indeksawal hingga SEBELUM indeksakhir. Kita akan mencoba beberapa cara mengindeks elemen jamak lainnya.

In [95]:
print(my_list[1:10])
print(my_list[1:])
print(my_list[:3])
print(my_list[:-3])
print(my_list[-3:])

[1, 5, 2, 3]
[1, 5, 2, 3]
[10, 1, 5]
[10, 1]
[5, 2, 3]

1. Kita tinjau baris pertama. Meskipun kita hanya memiliki jumlah elemen 5, kita bisa menuliskan indeks akhir lebih dari indeks yang diizinkan. Python akan mengabaikan nilai indeks akhir melebihi indeks valid dari jumlah elemen dari list. 
2. Kita tinjau baris kedua. Kita tidak menuliskan indeks akhir pada seleksi elemen. Maka, seleksi akan dilakukan dari indeks awal hingga elemen akhir dari list tersebut.
3. Baris ketiga: mirip dengan baris kedua. Tanpa penulisan indeks awal pada seleksi elemen mengakibatkan kita mengakses semua elemen dari awal list hingga SEBELUM indeks akhir yang dituliskan dalam seleksi tersebut.
4. Baris keempat dan kelima. Mirip dengan baris kedua dan ketiga, hanya saja kita menggunakan indeks berbasis negatif untuk menyeleksi elemen jamak dalam list.

### Menambah dan mengurangi elemen dalam list

Kita bisa menambah dan mengurangi elemen dalam list dengan beberapa perintah khusus. Untuk menambah, kita bisa menggunakan perintah:
1. list.append(elemen_baru), data yang ditambahkan akan ada di akhir list
2. list.insert(indeks,elemen_baru), data yang ditambahkan akan ada di indeks yang ditentukan dalam perintah insert.

Sedangkan untuk menghapus elemen dalam list, kita bisa menggunakan perintah:
- list.remove(elemen), elemen yang ditinjau akan dihapus dari list. Jika tidak ada elemen tersebut, akan menghasilkan galat.

Mari kita coba lihat contoh di bawah ini:

In [105]:
#kita akan gunakan dua variabel baru sebagai copy my_list untuk
# menunjukkan perbedaan dari perintah append dan insert
list_baru_app = my_list.copy()
list_baru_ins = my_list.copy()


print("penambahan data")
list_baru_app.append(99)
list_baru_ins.insert(2,99)
print(my_list)
print(list_baru_app)
print(list_baru_ins)

print("penghapusan data")
#menghapus elemen 99
list_baru_app.remove(99)
print(list_baru_app)
my_list.remove(99)

penambahan data
[10, 1, 5, 2, 3]
[10, 1, 5, 2, 3, 99]
[10, 1, 99, 5, 2, 3]
penghapusan data
[10, 1, 5, 2, 3]

ValueError: list.remove(x): x not in list


### Array multidimensi sebagai list

Dalam machine learning, kita akan banyak berinteraksi dengan data dengan bentuk matriks multidimensi. Data tabel biasa direpresentasikan dengan matriks 2 dimensi, sedangkan data citra biasa direpresentasikan dengan matriks 3 dimensi (panjang x lebar x channel RGB) atau bahkan 4 dimensi (jumlah data x panjang x lebar x channel RGB). Mari kita coba tinjau bagaimana membangun matriks 2 dimensi dengan konsep list di dalam list.

In [24]:
mat_2d = [[1,0,0,0],[2,1,1,3],[2,0,1,4],[-2,1,0,8]]
print(mat_2d)

[[1, 0, 0, 0], [2, 1, 1, 3], [2, 0, 1, 4], [-2, 1, 0, 8]]

Matriks mat_2d memiliki dimensi 4x4 (4 baris dan 4 kolom). Sebenarnya list dalam list (atau nested_list) mengakomodasi list dengan ukuran tidak sama dari masing-masing sub-listnya.

In [107]:
mat_2d_notuni = [[1,0,0],[2,1,1,3,5],[4],[-2,1,0,8]]
print(mat_2d_notuni)

[[1, 0, 0], [2, 1, 1, 3, 5], [4], [-2, 1, 0, 8]]

Bagaimana mengakses elemen-elemen di dalam nested_list?

Karena nested_list memiliki konsep list di dalam list, kita bisa mengakses elemennya dengan cara mengakses list paling luar menuju list paling dalam.

In [25]:
print(mat_2d[1]) #akan mengakses sublist ke-1 dari nested_list dari mat_2d
print(mat_2d[1][2]) #akan menghasilkan nilai tunggal
print(mat_2d[1][:2]) #akan menghasilkan list baru
print(mat_2d[:2]) #akan menghasilkan nested_list baru

[2, 1, 1, 3]
1
[2, 1]
[[1, 0, 0, 0], [2, 1, 1, 3]]

Dan akan kita lihat penerapan ini di numpy

## Tuple

Kita tidak akan membahas tuple terlalu jauh karena konsepnya tidak akan begitu banyak digunakan dalam lokakarya machine learning ini. Perbedaan utamanya dengan list adalah: 
1. List menggunakan kurung siku, tuple menggunakan kurung biasa
2. Isi list dapat diubah-ubah (mutable) sedangkan tuple tidak bisa (immutable)
3. Komputasi dalam tuple sedikit lebih cepat daripada list.

## Dictionaries

Sedikit berbeda dengan list, dictionary memiliki fungsi struktur data sebagai "pasangan" dengan nama unik dengan nilai tertentu. Maksudnya seperti apa? Kita lihat saja contoh code di bawah ini.

In [121]:
manusia = {'nama': 'Seseorang', 'jenis_kelamin':'F', 'tinggi_badan':165,
          'barang':['tas','jaket']}
print(manusia)

{'nama': 'Seseorang', 'jenis_kelamin': 'F', 'tinggi_badan': 165, 'barang': ['tas', 'jaket']}

Dalam contoh di atas, kita membuat dictionary 'manusia' dengan segala ciri-ciri yang dimiliki. Dictionary memiliki pasangan "kunci" dengan "nilai" sebagai elemen-elemennya. Semisal: kunci 'nama' mengacu pada nilai 'seseorang', kunci 'tinggi_badan' mengacu pada 165. Untuk mengakses elemen di dalamnya, kita bisa menggunakan kunci untuk mengambil nilai yang diinginkan.

In [124]:
print(manusia['nama'])
print("Tinggi badan perempuan itu: %d" % manusia['tinggi_badan'])
print("Daftar barang bawaan perempuan itu: %s" % manusia['barang'])

Seseorang
Tinggi badan perempuan itu: 165
Daftar barang bawaan perempuan itu: ['tas', 'jaket']

Pasangan kunci dan nilai dalam dictionary juga bisa ditambahkan dengan mudah. Mari kita lihat contoh di bawah ini:

In [125]:
manusia['kuliah'] = 'Universitas Pertamina'
print(manusia)

{'nama': 'Seseorang', 'jenis_kelamin': 'F', 'tinggi_badan': 165, 'barang': ['tas', 'jaket'], 'kuliah': 'Universitas Pertamina'}

## Latihan: Operasi aritmetika dengan nilai di dalam list dan dictionary

1. Saku Kurnia berisi beberapa keping koin dengan nilai uangnya adalah 100, 100, 500, 100, dan 1000. Buatlah representasi saku kurnia dalam bentuk list, kemudian tampilkan.
2. Dia akan membeli buku dengan harga 300 rupiah. Dia mengeluarkan 3 keping koin 100 dari sakunya. Dengan perintah remove, representasikan kejadian ini dan tampilkan isi akhir saku Kurnia.  
3. Kurnia menerima 2 keping koin 1000 dan dimasukkan ke dalam sakunya. Dengan perintah append, representasikan kejadian ini dan tampilkan isi akhir saku Kurnia.
4. Kurnia ingin mengambil koin ke-0 hingga ke-3 dari sakunya. Berapa sajakah koin ini?
5. Kurnia tidak hanya memiliki saku berisi koin. Kurnia memiliki ciri lainnya. Kurnia adalah laki-laki setinggi 170 cm dengan nilai UTS Ekonometrika adalah 100. Tampilkan Kurnia dalam bentuk dictionary.
6. Kurnia sekarang sedang belajar di program studi Rekayasa Finansial. Tambahkan ciri ini ke dictionary Kurnia.